<style>
  :root {
    --primary-color: {{ default "#FF1818" .Site.Params.primaryColor }};
    --secondary-color: {{ default "#48AA64" .Site.Params.secondaryColor }};
    --text-color: {{ default "#3c3836" .Site.Params.textColor }};
  --secondary-text-color: {{ default "#666" .Site.Params.secondaryTextColor }};
    --quote-color: {{ default "#666" .Site.Params.quoteColor }};
    --background-color: {{ default "#fdfdfd" .Site.Params.backgroundColor }};
    --secondary-bg-color: {{ default "#f8f8f8" .Site.Params.secondaryBgColor }};
    --link-color: var(--text-color);
    --link-hover-color: var(--primary-color);
    --link-hover-bg-color: var(--secondary-color);
}
</style>
