{{ $baseURL := .Site.BaseURL }}
{{ $baseURL := strings.TrimSuffix "/" $baseURL }}
{{ $title := .Title | default .Site.Title }}
{{ $description := .Params.description | default .Site.Params.description }}
{{ $image := index .Params.images | default .Params.cover|default .Site.Params.defaultImage }}
{{ $author := .Params.author | default .Params.releaseartist |default .Params.artistname| default .Site.Author.name }}

<!-- Open Graph meta tags -->
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $baseURL }}{{ $image }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="article:author" content="{{ $author }}">

<!-- Debugging output -->
{{/* <p>Title: {{ $title }}</p> */}}
{{/* <p>Description: {{ $description }}</p> */}}
{{/* <p>Image: {{ $image }}</p> */}}
{{/* <p>Author: {{ $author }}</p> */}}
