{{/* If it's a release, use the release metadata */}}
{{ if eq .Type "release" }}
  {{ $release := .Params }}
  <meta property="og:title" content="{{ $release.releasetitle }}">
  <meta property="og:type" content="music.album">
  <meta property="og:url" content="{{ .Permalink }}">
  {{ with $release.releasecover }}
    {{ $cover := resources.Get . }}
    {{ if $cover }}
      {{ $resized := $cover.Resize "1200x630" }}
      <meta property="og:image" content="{{ $resized.Permalink }}">
    {{ end }}
  {{ end }}
  <meta property="og:description" content="{{ $release.releasedescription }}">
{{ else }}
  {{/* Default Open Graph tags */}}
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ .Site.Params.defaultImage | absURL }}">
  <meta property="og:description" content="{{ .Site.Params.defaultDescription }}">
{{ end }}
