{{ define "main" }}
<article class="artist-post">
  <h1 class="artist-title">{{ .Params.artistname }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}"></time>

  {{ partial "head/opengraph.html" . }}
  <!-- photo -->
  <!-- TODO -->


  <!--description -->
  <section class="artist-bio">
    <p>{{ .Params.description }}</p>
  </section>

  <!-- description of artist -->
  <section class="artist-content">
    {{ .Content }}
  </section>

  {{/* Cover image */}}

  {{ $title := .Params.title }}
  {{ $artist := .Params.artistname }}
  {{$photo:= .Params.artistphoto }}
  {{ if $photo }}
  {{$cover:=resources.Get $photo}}
  {{$caption:= .Params.artistphotocredit }}
  {{ if $cover }}
  {{ $resized := $cover.Resize "1280x" }}
  <img class="artist-cover-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ $artist }}" />
  {{ if $caption }}
    <p>
  <figcaption class="photo-caption">Photo by {{ $caption }}</figcaption>
  </p>
  {{ end }}

  {{ end }}
  {{ end }}

  <!-- Additional links -->
  {{ range .Params.additionalLinks }}
  <div class="cover-button-container">
    <a href="{{ .url }}" aria="Purchase '{{ $.Params.title }}'" target="_blank" rel="noopener">
      <button class="cover-button">{{ .name }}</button>
    </a>
  </div>
  {{ end }}


  {{/* TODO: Turn this into a list of releases by this artist only */}}
  {{/* More releases */}}
  <section>

    {{/* tags */}}
    <p class="tags">
      {{ range .Params.tags }} #{{ . }} {{ end }}
    </p>

    {{ $pages := where .Site.RegularPages "Type" "releases" }}
    {{ if $pages }}
    <hr>
    <h2>Releases</h2>
    {{ partial "release-grid.html" (dict "type" "releases" "pages" $pages) }}
    {{end}}
  </section>

</article>
{{ end }}
