{{ define "main" }}
<main>
  <article>

<span class="single-portfolio-categories">
        <p>
        {{ delimit .Params.categories " | " }}
        </p>
      </span>

    <header>
      <h1 class="portfolio-title">{{ .Title }} ({{ .Params.year }})</h1>
    </header>
    <section>



      <p class="single-portfolio-desc">{{ .Params.description }}</p>

    </section>


    <section>
      <figure>
        {{ $image := resources.Get .Params.cover }}
        {{ if $image }}
        {{ $resized := $image.Resize "1000x" }}
        <img class="release-cover-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
        {{ else }}
        <img class="release-cover-image" src="/path/to/default/image.jpg" alt="Cover image for {{ .Title }}">
        {{ end }}
      </figure>
    </section>

    <section>
      {{ .Content }}
    </section>

    {{/* More */}}
    <section>
      {{ $pages := where .Site.RegularPages "Type" "portfolio" }}
      {{ if $pages }}

      <h3>More projects:</h3>
      <!-- Show releases as grid: -->
      {{ partial "portfolio-grid.html" (dict "type" "portfolio" "pages" $pages) }}
      {{end}}
    </section>

  </article>

</main>
{{ end }}
