{{ define "main" }}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.year }}</p>
    </header>

    <section>
    <figure>
      {{ $image := resources.Get .Params.cover }}
      {{ if $image }}
        {{ $resized := $image.Resize "1000x" }}
        <img src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
      {{ else }}
        <img src="/path/to/default/image.jpg" alt="Cover image for {{ .Title }}">
      {{ end }}
    </figure>
    </section>

    <section>
      {{ .Content }}
    </section>
  </article>
</main>
{{ end }}
