{{ define "main" }}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.year }}</p>
    </header>
    <section>

      <p>{{ .Params.description }}</p>
    </section>

    <section>
    <figure>
      {{ $image := resources.Get .Params.cover }}
      {{ if $image }}
        {{ $resized := $image.Resize "1000x" }}
        <img src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
      {{ else }}
        <img src="/path/to/default/image.jpg" alt="Cover image for {{ .Title }}">
      {{ end }}
    </figure>
    </section>

    <section>
      {{ .Content }}

      <p>
      <hr>


        <section>
          <p>
          {{/* <h2>Related Posts</h2> */}}
          Related:
          {{ partial "relatedposts.html" . }}
          </p>

          <p>
          Categories: {{ range .Params.categories }}
          +<a href="/categories/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          </p>

        </section>
      </p>

    </section>
  </article>
</main>
{{ end }}
