{{ define "main" }}
<main>
  <section>
    <div class="portfolio-grid">
      {{ range .Pages }}
      <div class="portfolio-item">
        <a href="{{ .Permalink }}">
          <img src="{{ .Params.releasecover | absURL }}" alt="Cover image for {{ .Params.releasetitle }}">
        </a>
        <div class="portfolio-description">

          <a href="{{.Permalink }}">
            <h4 class="portfolio-grid-title">{{.Params.releasetitle}} ({{.Params.releaseyear}})</h4>
          </a>
          <p class="portfolio-grid-byline">by <a href="{{ .Params.artistlink }}">{{ .Params.releaseartist }}</a>
          </p>

          {{ .Params.releasedescshort }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
