{{ define "main" }}
<article class="release-post">
  <time datetime="{{ .Date | time.Format " 2006-01-02T15:04:05-07:00" }}"></time>

  <h1 class="release-title">{{ .Params.releaseartist }} – {{ .Params.releasetitle }} ({{ .Params.releaseyear }})</h1>

  {{ with .Params.releasedescshort }}
  <section class="release-desc">
    <p>{{ . }}</p>
  </section>
  <hr>
  {{ end }}



<!-- Cover and Catalogue text -->
<div class="release-info">

    <!-- Cover image -->
    <div class="cover-item">
  {{ with .Params.releasecover }}
  {{ $cover := resources.Get . }}
  {{ if $cover }}
  {{ $resized := $cover.Resize "800x" }}
  {{ with $.Params.buylink }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="image-link">
    <img class="release-cover-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ $.Params.releasetitle }}" />
    {{ with $.Params.releasecoverartist }}
    <figcaption class="release-cover-caption">Cover art by {{ . }}</figcaption>
    {{ end }}
  </a>
  {{ else }}
  <img class="release-cover-image" src="/path/to/default/image.jpg" alt="Cover image for {{ $.Params.releasetitle }}" />
  {{ end }}
  {{ end }}
  {{ end }}
      </div>



    <!-- Metadata -->
    <div class="cover-item">
    <div class="release-metadata">
    {{ partial "release-metadata.html" . }}
    </div>
    </div>

    <!-- Audio player -->
{{with .Params.releaseaudio }}
  <div class="cover-item release-audio center-audio">
    <audio controls>
      <source src="{{ . | absURL }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  {{ end }}
</div>






  <section class="release-content">
    {{ .Content }}
  </section>

  <hr>
{{ with .Params.buylink }}
  <div class="buylink-container centered-text">
    <a href="{{ . }}" target="_blank" rel="noopener" class="buylink">BUY</a>
  </div>
  {{ end }}


  {{ if .Params.links }}
  <section>
    <h3>Links</h3>
    <ul class="release-links">
      {{ range .Params.links }}
      <li><a href="{{ .url }}" target="_blank" rel="noopener">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

  <section>
    <h3>More releases</h3>
    <ul class="releases-list">
      {{ range .Site.RegularPages.ByDate.Reverse }}
      {{ if eq .Type "releases" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Params.releaseartist }} – {{ .Params.releasetitle }}, {{ .Params.releaseformat
          }},
          {{ .Params.releaseyear }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}
