{{ define "main" }}


<article class="release-post">
  <time datetime="{{ .Date | time.Format " 2006-01-02T15:04:05-07:00" }}"></time>

  {{ partial "head/opengraph.html" . }}

  {{/* Artist name */}}
  <h4 class="centered-text release-artist-header">
    {{ partial "artistlink.html" .Params.releaseartist }}
  </h4>

  {{/* Release title */}}
  <h1 class="release-title"> {{ .Params.title }}</h1>

  <!-- Cover and Catalogue text -->
  <div class="release-info">

    <!------------------------------>
    <!-- COVER SECTION BEGIN -->
    <!------------------------------>

    <!-- Cover image -->
    <div class="cover-item child1">
      {{ with .Params.images }}
      {{ $cover := resources.Get . }}
      {{ if $cover }}
      {{ $resized := $cover.Resize "1280x" }}
      {{ with $.Params.buylink }}
      <a href="{{ . }}" aria="Purchase '{{ $.Params.title }}'" target="_blank" rel="noopener" class="image-link">
        <img class="release-cover-image zoom-on-hover" src="{{ $resized.Permalink }}"
          alt="Cover image for {{ $.Params.title }}" />
        {{ with $.Params.imagesartist }}
        <figcaption class="release-cover-caption ">Cover art by {{ . }}</figcaption>
        {{ end }}
      </a>
      {{ else }}
      <img class="release-cover-image zoom-on-hover" src="/path/to/default/image.jpg"
        alt="Cover image for {{ $.Params.title }}" />
      {{ end }}
      {{ end }}
      {{ end }}

      <!-- Alt cover image -->
      <!-- Same as above,  but calls the .altcover value in params -->
      {{/* {{ with .Params.altcover }} */}}
      {{/* {{ $cover := resources.Get . }} */}}
      {{/* {{ if $cover }} */}}
      {{/* {{ $resized := $cover.Fill "800x800 Center" }} */}}
      {{/* {{ with $.Params.buylink }} */}}
      {{/* <a href="{{ . }}" target="_blank" rel="noopener" class="image-link"> */}}
        {{/* <img class="release-cover-image zoom-on-hover" src="{{ $resized.Permalink }}" */}} {{/*
          alt="Cover image for {{ $.Params.releasetitle }}" /> */}}
        {{/* {{ with $.Params.imagesartist }} */}}
        {{/* <figcaption class="release-cover-caption">Cover art by {{ . }}</figcaption> */}}
        {{/* {{ end }} */}}
        {{/* </a> */}}
      {{/* {{ end }} */}}
      {{/* {{ end }} */}}
      {{/* {{ end }} */}}

      <!-- Audio player JPLAYER -->
      <div class="release-audio">
      {{ if .Params.audiopath }}
        {{ $audiopath := .Params.audiopath | relURL }}
        {{ $audiotitle := .Params.audiotitle | default "" }}
        {{ $id := .Params.id | default (now.UnixNano) }}
        {{ partial "simple-audio-player.html" (dict "title" $audiotitle "mp3" $audiopath "id" $id) }}

        {{ end }}
      </div>
      <!-- END: Audio player JPLAYER -->


      <!-- Artist name -->
      {{ with .Params.releaseartist }}
      <div class="release-artist">
        {{ partial "artistlink.html" . }}
      </div>
      {{ end }}

      <!-- Release name -->
      {{ with .Params.title }}
      <div class="release-title">
        {{ . }}
      </div>
      {{ end }}

      <!-- Catalogue text -->
      {{ with .Params.releasecattext }}
      <div class="release-cat-text">
        {{ . }}
      </div>
      {{ end }}


      <!-- Buy link -->
      {{ with .Params.buylink }}
      <div class="cover-button-container">
        <a href="{{ . }}" aria="Purchase '{{ $.Params.title }}'" target="_blank" rel="noopener">
          <button class="buy-button">buy</button>
        </a>
      </div>
      {{ end }}

      <!-- Additional links -->
      {{ range .Params.additionalLinks }}
      <div class="cover-button-container">
        <a href="{{ .url }}" aria="Purchase '{{ $.Params.title }}'" target="_blank" rel="noopener">
          <button class="cover-button">{{ .name }}</button>
        </a>
      </div>
      {{ end }}

    </div>


    <!-- Metadata -->
    <div class="cover-item child2">

      <!-- "In short" text -->
      {{/* {{ with .Params.description }} */}}
      {{/* <div class="release-metadata small-text"> */}}

      {{/*   <div class="release-about-header"> */}}
      {{/*     <p>In short ... </p> */}}
      {{/*   </div> */}}

      {{/*   <div class="release-cat-text small-text"> */}}
      {{/*     <div class="release-about-text meta-data-text small-text"> */}}
      {{/*       <p>{{ . }}</p> */}}
      {{/*     </div> */}}

      {{/*   </div> */}}
      {{/* </div> */}}
      {{/* {{ end }} */}}


      <div class="release-metadata small-text">
        {{ partial "release-metadata.html" . }}
      </div>


    </div>

  </div>


  <!------------------------------>
  <!-- COVER SECTION END -->
  <!------------------------------>


  {{/* Content section */}}
  <section class="release-content">
    {{ .Content }}
  </section>


  {{/* About the artist */}}
  {{/* {{ with .Params.releaseartist }} */}}
  {{/*
  <hr> */}}
  {{/* <section class="release-artist"> */}}
    {{/* <h2>About the artist: {{ . }}</h2> */}}
    {{/* <p> */}}
      {{/* {{ $flattend_artist_name := replace . " " "-" |lower }} */}}
      {{/* {{ $url := printf "/artists/%s" $flattend_artist_name }} */}}
      {{/* {{ $page := $.Site.GetPage $url }} */}}
      {{/* {{ if $page }} */}}
      {{/* {{ $page.Params.description }} */}}
      {{/* {{ else }} */}}
      {{/*
    <p>No page found at {{ $url }}</p> */}}
    {{/* {{ end }} */}}
    {{/* </p> */}}
    {{/*
  </section> */}}
  {{/* {{ end }} */}}


  {{/* More releases */}}
  <section>

    {{/* tags */}}
    <p class="tags small-text">
      {{ range .Params.tags }} #{{ . }} {{ end }}
    </p>

    {{ $pages := where .Site.RegularPages "Type" "releases" }}
    {{ if $pages }}
    <hr>
    {{ partial "release-grid.html" (dict "type" "releases" "pages" $pages) }}
    {{end}}
  </section>


</article>
{{ end }}
