{{ define "main" }}
<article class="release-post">
  <time datetime="{{ .Date | time.Format " 2006-01-02T15:04:05-07:00" }}"></time>

  <h1 class="release-title">{{ .Params.releaseartist }} – {{ .Params.releasetitle }} ({{ .Params.releaseyear }})</h1>

  {{ with .Params.releasedescshort }}
  <section class="release-desc">
    <p>{{ . }}</p>
  </section>
  <hr>
  {{ end }}


  {{with .Params.releaseaudio }}
  <section class="release-audio center-audio">
    <audio controls>
      <source src="{{ . | absURL }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </section>
  {{ end }}


  <!-- Cover and Catalogue text -->
<div class="release-info">
  {{ with .Params.releasecover }}
  {{ $cover := . }}
  {{ with $.Params.buylink }}
  <!-- <figure class="release-cover"> -->
    <a href="{{ . }}" target="_blank" rel="noopener" class="image-link">
      <img class="release-cover-image" src="{{ $cover | absURL }}" alt="Cover image for {{ $.Params.releasetitle }}" />
      {{ with $.Params.releasecoverartist }}
      <figcaption class="release-cover-caption">Cover art by {{ . }}</figcaption>
      {{ end }}
    </a>
  <!-- </figure> -->
  {{ end }}
  {{ end }}

</div>


  <section class="release-metadata">
    {{ partial "release-metadata.html" . }}
  </section>


  <section class="release-content">
    {{ .Content }}
  </section>

  <hr>
{{ with .Params.buylink }}
  <div class="buylink-container centered-text">
    <a href="{{ . }}" target="_blank" rel="noopener" class="buylink">BUY</a>
  </div>
  {{ end }}


  {{ if .Params.links }}
  <section>
    <h3>Links</h3>
    <ul class="release-links">
      {{ range .Params.links }}
      <li><a href="{{ .url }}" target="_blank" rel="noopener">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

  <section>
    <h3>More releases</h3>
    <ul class="releases-list">
      {{ range .Site.RegularPages.ByDate.Reverse }}
      {{ if eq .Type "releases" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Params.releaseartist }} – {{ .Params.releasetitle }}, {{ .Params.releaseformat
          }},
          {{ .Params.releaseyear }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}
