body {
  font-family: 'Merriweather', serif;
  /* Merriweather for a classic, readable look */
  font-size: 20px;
  /* Comfortable reading size */
  line-height: 1.8;
  /* Improved line spacing for readability */
  color: var(--text-color);
  /* Softer than black for reduced eye strain */
  background-color: var(--background-color);
  /* Light, neutral background */
  letter-spacing: 0.7px;
  /* Slight increase in letter spacing for readability */

  margin: 0;
  padding: 0;

}

header,
footer {
  text-align: center;
  padding: 1em;
  /* background-color: #f2f2f2; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Link Styles */
a {
  word-break: break-all;
  color: var(--link-color);
  /* Default link color */
  font-weight: normal;
  text-decoration: underline;
  /* Removes underline from links */
  transition: color 0.5s ease, padding 1.0s ease;
  /* Smooth transition for color change */
}

/* Link hover and focus styles */
a:hover,
a:focus {
  color: var(--link-hover-color);
  /* Color when the user hovers over or focuses on the link */
  background-color: var(--link-hover-bg-color);
  /* Background color change for contrast */
  text-decoration: none;
  /* Adds underline on hover for better visibility */
  font-weight: 700;
}

.buylink-container {
  margin: 1em;
}

a.buylink {
  color: var(--secondary-color);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  transition: color 0.5s ease, padding 1.0s ease;
  padding: 0.5em;
  margin: 2.5em;
  font-size: 1.0;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  /* center it */
}

.centered-text {
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.release-content {
  padding-top: 1em;
}

/* Disable all hover and f ocus for image links */
a.image-link:hover,
a.image-link:focus {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
  font-weight: normal;
  padding: 0;
}

header h1 {
  font-size: 1.0em;
  margin: 0;
  padding: 0.25em;
  flex-grow: 1;
  /* Allows the title to grow and push the menu to the center */
  text-align: left;
  /* Aligns the title to the left */
}

nav {
  flex-grow: 2;
  /* Allows the nav to take up remaining space and center the menu */
  text-align: right;
  /* Centers the menu items */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* Remove default margin */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

article {
  margin: 1em auto;
  /* Increased margin for a centered look */
  padding: 2em;
  /* Spacious padding for readability */
  max-width: 740px;
  /* Optimal line length for reading */
  background-color: var(--background-color);
  font-weight: 400;

  letter-spacing: 0.2px;
  /* Slight increase in letter spacing for readability */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  min-height: 200px;

}

article h1 {
  text-align: center;
  font-size: 1.5em;
}

article h2 {
  font-size: 1.25em;
  color: var(--text-color);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

p {
  margin-bottom: 1em;
  /* Space between paragraphs */
}

p.release-cover-caption,
p.photo-caption {
  font-size: 0.75em;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

blockquote {
  font-style: italic;
  /* Apply italics */
  font-size: 1.0em;
  margin-left: 20px;
  padding-left: 15px;
  text-align: justify;
  text-justify: inter-word;
  color: var(--quote-color);
}

.book-quote {
  font-style: italic;
  margin: 20px 0;
  padding: 15px;
  border-left: 0px solid #ccc;
  text-align: justify;
  text-justify: inter-word;
  color: var(--quote-color);
}

.book-quote cite {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
}

.responsive-figure {
  max-width: 100%;
  /* Ensure the figure doesn't overflow its container */
  margin: 0 auto;
  /* Center the figure */
  text-align: center;
  /* Center align the caption */
}

.responsive-image {
  max-width: 100%;
  /* Responsive image scaling */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 5px;
  /* Optional: Adds rounded corners to the image */
}

.image-caption {
  margin-top: 8px;
  /* Space between image and caption */
  color: #666;
  /* Caption text color */
  font-size: 0.9em;
  /* Caption text size */
  font-style: italic;
  /* Caption text style */
}


.active-menu-item {
  font-weight: bold;
}

.site-footer {
  padding: 20px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 15px;
}


.releases-list {
  /* Styles for the list */
  list-style-type: none;
  /* Removes default list styling */
  padding: 0;
  margin: 0;
  font-size: 1em;
  /* Adjust font size as needed */
  min-height: 500px;
}

.release-item {
  /* Styles for each release item */
  margin-bottom: 0em;
  /* Space between items */
  padding: 10px;
  /* Padding around each item */
  border-bottom: 1px solid #ccc;
  /* Bottom border for each item */
}


/* metadata */
.release-metadata {
  font-size: 0.9em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.release-cat-text {
  font-size: 0.66em;
  background: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  padding: 1em;
  margin: 2em;
}

.release-cat-text h4 {
  margin: 0;
  padding: 0;
}

img.release-cover-image {
  margin: 1em 0;
}

.release-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.release-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .release-info {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* For shortcodes  */
.video-responsive,
.bandcamp-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.soundcloud-responsive {
  position: relative;
  padding-bottom: 40%;
  /* 16:9 Aspect Ratio */
  /* height: 0; */
  overflow: hidden;
}

.mixcloud-embed {
  margin: 20px 0;
  --embed-bg-color: var(--background-color);
  --embed-text-color: var(--text-color);
}

.mixcloud-embed iframe {
  background-color: var(--embed-bg-color);
  color: var(--embed-text-color);
  /* Apply any other desired styles */
}


.video-responsive iframe,
.soundcloud-responsive iframe,
.bandcamp-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* section release-desc */
.release-desc,
.subtitle {
  font-size: 1.125em;
  margin: 1em;
  text-align: center;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
}



figure {
  padding: 0;
  margin: 0;
}

audio#audio-player {
  margin: 0 auto;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.threejscanvas {
  width: 100%;
  height: 100%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

img.website-logo {
  max-width: 200px;
  max-height: 75px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.audio-player-container {
  margin-bottom: 20px;
}

.audio-info {
  margin-top: 10px;
}

.audio-title {
  font-size: 0.9em;
  font-weight: bold;
}

.audio-author {
  font-size: 0.9em;
  font-style: italic;
}

.tracklist {
  margin-top: 5px;
  font-size: 0.9em;
}

.audio-player {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.center-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customizing the audio player controls */
audio {
  width: 100%;

}

audio::-webkit-media-controls-panel {
  background-color: var(--background-color);
  color: var(--text-color);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline {
  color: var(--primary-color);
}

audio::-moz-range-thumb {
  background: var(--primary-color);
}

audio::-moz-range-track {
  background: var(--secondary-color);
}

/* Style input fields and buttons */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  /* Full width for input fields */
  padding: 0.5em;
  /* Spacing inside the input fields */
  margin-bottom: 1em;
  /* Space between input fields */
  border: 1px solid #ccc;
  /* Border around input fields */
  border-radius: 5px;
  /* Rounded corners for input fields */
  font-size: 1em;
  /* Font size for input fields */
}

input[type="submit"],
button {
  padding: 0.5em 1em;
  /* Spacing inside the buttons */
  border: none;
  /* Removes default button border */
  border-radius: 5px;
  /* Rounded corners for buttons */
  font-size: 1em;
  /* Font size for buttons */
  cursor: pointer;
  /* Changes cursor to pointer on hover */
}

input[type="submit"]:hover,
button:hover {
  background-color: #f2f2f2;
  /* Light background color on hover */
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.33rem;
  background-color: var(--text-color);
}

.portfolio-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-rows: auto;
}

.portfolio-item {
  position: relative;
  width: 100%;
}

.portfolio-item .image-wrapper {
  overflow: hidden;
  padding-top: 100%;
  /* This makes the wrapper a square */
  position: relative;
}

.portfolio-item img {
  transition:  transform 0.5s;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item .portfolio-description {
  padding: 10px;
  font-size: 0.75em;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    margin-top: 1em;
  }


  nav {
    display: none;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #0056b3;
  }


  blockquote {
    margin-left: 0;
    padding-left: 0;
  }

  article {
    margin: 1em 5%;
    padding: 1em;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header h1,
  nav {
    flex-grow: 0;
    /* Resets flex-grow on mobile */
    width: 100%;
    /* Full width for smaller screens */
    margin-bottom: 10px;
    text-align: center;
    /* Spacing between title and menu */
  }
}
