<div class="portfolio-grid">
  {{ $type := .type }}
  {{ range sort (where .pages "Type" $type) "Params.year" "desc" }}
  <div class="portfolio-item">
    <a href="{{ .Permalink }}">
      <div class="image-wrapper">
        {{ $image := resources.Get .Params.cover }}
        {{ if $image }}
        {{ $resized := $image.Resize "800x" }}
        <img src="{{ $resized.Permalink }}" class="base-image portfolio-cover-grid-item zoom-on-hover" alt="Cover image for {{ .Params.title }}">
        {{ else }}
        <img src="/covers/default.png" class="base-image portfolio-cover-grid-item zoom-on-hover" alt="Cover image for {{ .Params.title }}">
        {{ end }}
      </div>
    </a>
    <div class="portfolio-description">
      <a href="{{.Permalink }}">
        <h4 class="portfolio-grid-title">{{.Params.title}} ({{.Params.year}})</h4>
      </a>

      <p class="portfolio-grid-description">
      {{ .Params.description }}
      </p>
    </div>
  </div>
  {{ end }}
</div>
