<div class="portfolio-grid">
  {{ $type := .type }}
  {{ $ignorePageWithTitle := .ignorePageWithTitle }}

{{ range sort (where (where .pages "Type" $type) "Permalink" "!=" .Permalink) "Params.year" "desc" }}

  {{/* Ignore the page with the same title */}}
  {{ if eq .Title $ignorePageWithTitle }}
  {{ else }}

  <div class="portfolio-item">

    {{/* Categories */}}
    <span class="list-portfolio-categories single-portfolio-categories small-text">
      {{ delimit .Params.categories " | " }}
    </span>

    {{/* Cover image */}}
    <a href="{{ .Permalink }}">
      <div class="image-wrapper">
        {{ $image := resources.Get .Params.cover }}
        {{ if $image }}
        {{ $resized := $image.Resize "800x" }}
        <img src="{{ $resized.Permalink }}" class="zoom-on-hover"
          alt="Cover image for {{ .Params.title }}">
        {{ else }}
        <img src="/covers/default.png" class="base-image "
          alt="Cover image for {{ .Params.title }}">
        {{ end }}
      </div>
    </a>


    {{/* Text under image */}}
    <div class="portfolio-description">

      {{/* Title */}}
      <a href="{{.Permalink }}">
        <h4 class="portfolio-grid-title">{{.Params.title}} ({{.Params.year}})</h4>
      </a>


      {{/* Description */}}
      <p class="portfolio-grid-description small-text">
        {{ .Params.description }}

        <!-- Audio player JPLAYER -->
        {{ if .Params.audiopath }}
      <div class="release-audio list-view-audioplayer">
        {{ $audiopath := .Params.audiopath | relURL }}
        {{ $audiotitle := .Params.audiotitle | default "" }}
        {{ $id := now.UnixNano }}
        {{ partial "simple-audio-player.html" (dict "title" $audiotitle "mp3" $audiopath "id" $id) }}
      </div>
      {{ end }}
      <!-- END: Audio player JPLAYER -->

      </p>


    </div>
  </div>
  {{ end }}

  {{ end }}
</div>
