<div class="portfolio-grid">
  {{ $type := .type }}
  {{ range sort (where .pages "Type" $type) "Params.year" "desc" }}
  <div class="portfolio-item">
    <a href="{{ .Permalink }}">
      <div class="image-wrapper">
        <img src="{{ .Params.cover | absURL }}" alt="Cover image for {{ .Params.title }}">
      </div>
    </a>
    <div class="portfolio-description">
      <a href="{{.Permalink }}">
        <h4 class="portfolio-grid-title">{{.Params.title}} ({{.Params.year}})</h4>
      </a>
      {{ .Params.description }}
    </div>
  </div>
  {{ end }}
</div>
