<table class="release-table">
  <thead>
    <tr>
      <th>Catnum</th>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    {{ $type := "releases" }}
    {{ range sort (where .Pages "Type" $type) "Params.year" "desc" }}
    <tr>
      <td><a href="{{ .Permalink }}">{{ .Params.releasecatnum }}</a></td>
      <td><a href="{{ .Permalink }}">{{ .Params.releasetitle }}</a></td>
      <td><a href="{{ .Permalink }}">{{ .Params.releaseartist }}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
