<!-- This partial represents all metadata for a music release -->

<div class="metadata-block">


<div class="table">
  <div class="row header">
    <div class="cell">Metadata</div>
    <div class="cell"></div>
  </div>
  {{ range .Params.metadata }}
  <div class="row">
    {{ $data := split . ": " }}
    <div class="cell">{{ index $data 0 }}:</div>
    <div class="cell">{{ index $data 1 }}</div>
  </div>
  {{ end }}
</div>

<div class="table">
  <div class="row header">
    <div class="cell">Credits</div>
    <div class="cell"></div>
  </div>
  {{ range .Params.credits }}
  <div class="row">
    {{ $data := split . ": " }}
    <div class="cell">{{ index $data 0 }}:</div>
    <div class="cell">{{ index $data 1 }}</div>
  </div>
  {{ end }}
</div>

<div class="table">
  <div class="row header">
    <div class="cell">Tracklist</div>
    <div class="cell"></div>
  </div>
  {{ range .Params.tracklist }}
  <div class="row">
    {{ $data := split . ". " }}
    <div class="cell"></div>
    <div class="cell">{{ index $data 0 }}. {{ index $data 1 }}</div>
  </div>
  {{ end }}
</div>

</div>
