<div class="portfolio-grid">
  {{ $type := "releases" }}
  {{ range sort (where .pages "Type" $type) "Params.year" "desc" }}
  <div class="portfolio-item">

    <div class="above-portfolio-item">


   {{/* Series */}}
    {{if .Params.series}}
      <span class="list-portfolio-categories small-text contrast-text series-container mono-font"><a class="thin-font" href="/series">{{.Params.series|lower}}</a></span>
    {{end}}

    {{/* Categories */}}
    <span class="list-portfolio-categories single-portfolio-categories small-text mono-font thin-font">
      {{ delimit .Params.categories " / " | lower}}

      <span class="catnum">
        ({{.Params.releasecatnum|lower}})
      </span>
   </span>


    </div>
    <a href="{{ .Permalink }}">
      <div class="with-shadow image-wrapper {{ if resources.Get .Params.altcover }}has-alt-image{{ end }} ">
        {{ $image := resources.Get .Params.images }}
        {{ $altImage := resources.Get .Params.altcover }}
        {{ if $image }}
        {{ $resized := $image.Resize "1600x q80" }}
        <img class="base-image " src="{{ $resized.Permalink }}" alt="Cover image for {{ .Params.title }}">
        {{ else }}
        <img class="base-image " src="/covers/default.png" alt="Cover image for {{ .Params.title }}">
        {{ end }}
        {{ if $altImage }}
        {{ $resizedAlt := $altImage.Resize "1600x q80" }}
        <img class="alt-image " src="{{ $resizedAlt.Permalink }}" alt="Alternate cover image for {{ .Params.title }}">
        {{ end }}
      </div>
    </a>

    <div class="portfolio-description portfolio-text-top">
      <a href="{{.Permalink }}">
        {{.Params.releaseartist}} —
        <span class="release-title">
        {{.Params.title}}
        </span>
      </a>
    </div>

    <div class="portfolio-description">
      {{/* Description */}}
      <p class="portfolio-grid-description small-text">
        {{ .Params.releasecattext }}

        <!-- Audio player JPLAYER -->
        {{ if .Params.audiopath }}
        <div class="release-audio list-view-audioplayer">
          {{ $audiopath := .Params.audiopath | relURL }}
          {{ $audiotitle := .Params.audiotitle | default "" }}
          {{ $id := now.UnixNano }}
          {{ partial "simple-audio-player.html" (dict "title" $audiotitle "mp3" $audiopath "id" $id "showTitle" true) }}
        </div>
        {{ end }}
        <!-- END: Audio player JPLAYER -->
      </p>
    </div>
  </div>
  {{ end }}
</div>
