<!-- This partial represents all metadata for a music release -->

<div class="metadata-block">

  <div class="first-header">
    <p>Metadata</p>
  </div>

  <div class="table">
    {{ range .Params.metadata }}
    <div class="row">
      {{ $data := split . ": " }}
      <div class="cell small-text">{{ index $data 0 }}:</div>
      <div class="cell small-text">{{ index $data 1 }}</div>
    </div>
    {{ end }}
  </div>

  <div class="table">
    <div class="row header">
      <div class="cell small-text">Credits</div>
      <div class="cell small-text"></div>
    </div>
    {{ range .Params.credits }}
    <div class="row">
      {{ $data := split . ": " }}
      <div class="cell small-text">{{ index $data 0 }}:</div>
      <div class="cell small-text">{{ index $data 1 }}</div>
    </div>
    {{ end }}
  </div>

  <div class="table">
    <div class="row header">
      <div class="cell small-text">Tracklist</div>
      <div class="cell small-text"></div>
    </div>
    {{ range .Params.tracklist }}
    <div class="row">
      {{ $data := split . ". " }}
      <div class="cell small-text"></div>
      <div class="cell small-text">{{ index $data 0 }}. {{ index $data 1 }}</div>
    </div>
    {{ end }}
  </div>

</div>
