<div class="portfolio-grid">
  {{ $type := "releases" }} <!-- Change this to the type of your release pages -->
  {{ range sort (where .pages "Type" $type) "Params.year" "desc" }}
  <div class="portfolio-item">


    <div class="portfolio-description portfolio-text-top">
      <a href="{{.Permalink }}">
        {{.Params.releasecatnum}} | {{.Params.releaseartist}}<br>
        {{.Params.releasetitle}}
      </a>
    </div>

    <a href="{{ .Permalink }}">
      <div class="image-wrapper">
        {{ $image := resources.Get .Params.releasecover }} <!-- Change this to the name of your cover image parameter -->

        {{ if $image }}
        {{ $resized := $image.Resize "500x" }}
        <img src="{{ $resized.Permalink }}" alt="Cover image for {{ .Params.releasetitle }}"> <!-- Change this to the name of your release title parameter -->
        {{ else }}
        <img src="/covers/default.png" alt="Cover image for {{ .Params.releasetitle }}"> <!-- Change this to the name of your release title parameter -->
        {{ end }}
      </div>
    </a>

  </div>
  {{ end }}
</div>
