<!-- bandcamp -->
{{- if site.Params.social.bandcamp }}
<li>
  <a class="no-underline" href="{{ site.Params.social.bandcamp }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-bandcamp"></i></a>
</li>
{{- end }}


<!-- instagram -->
{{- if site.Params.social.instagram }}
<li>
  <a class="no-underline" href="{{ site.Params.social.instagram }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-instagram"></i></a>
</li>
{{- end }}

<!-- twitter -->
{{- if site.Params.social.twitter }}
<li>
  <a class="no-underline" href="{{ site.Params.social.twitter }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-twitter"></i></a>
</li>
{{- end }}

<!-- Github -->
{{- if site.Params.social.github }}
<li>
  <a class="no-underline" href="{{ site.Params.social.github }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
</li>
{{- end }}

<!-- mastodon -->
{{- if site.Params.social.mastodon }}
<li>
  <a class="no-underline" href="{{ site.Params.social.mastodon }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-mastodon"></i></a>
</li>
{{- end }}

<!-- soundcloud -->
{{- if site.Params.social.soundcloud }}
<li>
  <a class="no-underline" href="{{ site.Params.social.soundcloud }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-soundcloud"></i></a>
</li>
{{- end }}

<!-- youtube -->
{{- if site.Params.social.youtube }}
<li>
  <a class="no-underline" href="{{ site.Params.social.youtube }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-youtube"></i></a>
</li>
{{- end }}


<!-- mixcloud -->
{{- if site.Params.social.mixcloud }}
<li>
  <a class="no-underline" href="{{ site.Params.social.mixcloud }}" target="_blank" rel="noopener noreferrer"><i
      class="fab fa-mixcloud"></i></a>
</li>
{{- end }}
