{{ define "main" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
</head>

<body>
  <main>
    {{ $featuredTitle := .Site.Params.featuredPostTitle }}
    {{ $texts := where .Site.RegularPages "Type" "texts" }}
    {{ $pages := where .Site.RegularPages "Type" "pages" }}
    {{ $combined := union $texts $pages }}

    {{ range $combined }}

    {{ if eq .Title $featuredTitle }}
    <article>
      <div>{{ .Content }}</div>
    </article>
    {{ end }}

    {{ end }}


  </main>
</body>

</html>


{{ end }}
