{{ define "main" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
</head>

<body>
  <main>

    {{ $featuredTitle := .Site.Params.featuredPostTitle }}

    {{ range .Site.RegularPages }}
    {{ if eq .Title $featuredTitle }}
    <article>
      <div>{{ .Content }}</div>
    </article>
    {{ end }}
    {{ end }}



    <article>
      <section>
        {{.Content}}
      </section>

      <br>

      <!-- Show releases as grid: -->
      {{if .Site.Params.showReleasesGridOnFrontPage}}
      <section>
        {{ partial "release-grid.html" (dict "type" "release" "pages" .Site.RegularPages) }}
      </section>
      {{end }}

    </article>

  </main>
</body>

</html>

{{ end }}
