<div class="audio-player-container">

  <div class="audio-info-top">
    <span class="audio-player-title">{{ .Get "title" }}</span>
    {{ if .Get "author" }} by <span class="audio-author"> {{ .Get "author" }} </span> {{ end }}
  </div>

  <audio controls class="audio-player">
    <source src="{{ .Get " src" }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div class="audio-info">

    {{ if .Get "tracklist" }}
    <div class="tracklist">
      <h4>Tracklist</h4>
      {{ .Get "tracklist" | safeHTML }}
    </div>
    {{ end }}
  </div>
</div>
