<blockquote class="book-quote">
  “{{ .Get "text" | safeHTML }}”
    {{ $author := .Get "author" }}
    {{ $title := .Get "title" }}
    {{ $url := .Get "url" }}

    {{ if or $author $title }}
        <cite>
            {{ if $url }}<a href="{{ $url }}">{{ end }}
            {{- if $author }}<span class="small-text">— {{ $author }}</span>{{ end }}
            {{- if and $author $title }}<span class="small-text">, </span>{{ end }}
            {{- if $title }}<span class="small-text">{{ $title }}</span>{{ end }}
            {{ if $url }}</a>{{ end }}
        </cite>
    {{ end }}
</blockquote>
