{{/* Fetch the image resource */}}
{{ $image := .Page.Resources.GetMatch (.Get 0) }}
{{ $alt := .Get "alt" | default "picture" }}
{{ $caption := .Get "caption" }}

{{/* Define max size and create srcset */}}
{{ $maxSize := site.Params.Images.maxSize | default 1024 }}
{{ $srcset := slice }}
{{ range site.Params.Images.setSizes }}
    {{ $size := print . "x" . }}
    {{ $resizedImage := $image.Fit $size }}
    {{ $srcset = $srcset | append (printf "%s %dw" $resizedImage.RelPermalink $resizedImage.Width) }}
{{ end }}

{{/* Render the HTML */}}
<figure class="responsive-figure">
    <img loading="lazy" src="{{ $image.RelPermalink }}"
         alt="{{ $alt }}"
         {{ if gt (len $srcset) 0 }}sizes="{{ site.Params.Images.sizes }}" srcset="{{ delimit $srcset ", " }}"{{ end }}
         width="{{ $image.Width }}" height="{{ $image.Height }}" />
    {{ if $caption }}
        <figcaption>{{ $caption }}</figcaption>
    {{ end }}
</figure>
